.label label{
	font-size: 14px;
	width: 150px;
	float: left; 
}
.label input[type=text],input[type=password], .select{
	width: 200px; 
}
.label.bottom{ 
	margin: 20px;
}
.ops{
	color:red;
}
.error-input{
	border:1px solid red;
}
input[type=text].error-input2{
	border:1px solid red;
}
input[type=text].error-input3{
	border:1px solid red;
}
.blink_me {
    animation-name: blinker;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;

    -webkit-animation-name: blinker;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    font-size:14px;
    font-weight:bold;
}

@-moz-keyframes blinker {  /* Decimal not necessary, 0 and 1 is enough */
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

@-webkit-keyframes blinker {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

@keyframes blinker {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}


