
/* root element for accordion. decorated with rounded borders and gradient background image */
#accordion { 
    width: 100%; 
    padding-top: 10px; 
}

/* accordion header */
#accordion h2 {
    background: #ccc;
    line-height: 14px;
    margin:0;
    padding:5px 15px;
    font-size:14px;
    font-weight:normal;
    border:1px solid #fff;
    border-bottom:1px solid #ddd;
    cursor:pointer;
}

/* currently active header */
#accordion h2.current {
    cursor:default;
    background-color:#000;
    color: #fff
}

/* accordion pane */
#accordion .pane {
    border:1px solid #fff; 
    display:none;
    height:auto;
    font-size:12px;
    text-align: left;
}

/* a title inside pane */
#accordion .pane h3 {
    font-weight:normal;
    margin:0;
    font-size:16px;
    color:#999;
}